<div class="text-center">
    <h1 class="display-4">Rendering Server Side Blazor Component in MVC</h1>
    <h5>Microsoft Docs on the topic</h5>
    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/integration?view=aspnetcore-9.0&preserve-view=true" target="_blank">Integrate Components</a></p>
    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/component-tag-helper?view=aspnetcore-9.0" target="_blank">Component Tag Helper</a></p>
</div>
